/* line 2, styles.scss */
body {
  margin: 0; }

/* line 7, styles.scss */
.container {
  height: 500px;
  width: 90%;
  margin: 100px auto;
  position: absolute;
  overflow: hidden;
  right: 5%;
  left: 5%; }
  /* line 17, styles.scss */
  .container #left {
    left: -26%;
    -webkit-transform: skew(35deg);
    z-index: 1 !important; }
  /* line 22, styles.scss */
  .container #right {
    right: -27%;
    -webkit-transform: skew(35deg); }
  /* line 28, styles.scss */
  .container .polygon {
    height: 100%;
    width: 78%;
    position: absolute;
    overflow: hidden; }
    /* line 33, styles.scss */
    .container .polygon:hover {
      z-index: 1;
      -webkit-transition-duration: 1.2s;
      width: 90%; }
    /* line 40, styles.scss */
    .container .polygon #league {
      -webkit-transform: skew(-35deg);
      position: absolute; }
    /* line 44, styles.scss */
    .container .polygon #flash {
      -webkit-transform: skew(-35deg);
      position: absolute;
      right: 0; }
    /* line 51, styles.scss */
    .container .polygon .blurb-wrapper {
      position: absolute;
      height: 100%;
      width: 100%;
      background: rgba(0, 0, 0, 0.3); }
      /* line 56, styles.scss */
      .container .polygon .blurb-wrapper:hover > p {
        -webkit-transition-duration: 0.7s;
        color: white !important;
        text-shadow: 1px 1px #000; }
      /* line 61, styles.scss */
      .container .polygon .blurb-wrapper:hover > p > a {
        -webkit-transition-duration: 0.7s;
        opacity: 1;
        text-shadow: 1px 1px #000; }
      /* line 66, styles.scss */
      .container .polygon .blurb-wrapper p {
        font-size: 32px;
        font-family: arial;
        font-weight: bold;
        color: transparent; }
      /* line 72, styles.scss */
      .container .polygon .blurb-wrapper .btn {
        position: absolute;
        opacity: 0;
        -webkit-border-radius: 3;
        -moz-border-radius: 3;
        border-radius: 3px;
        font-family: Arial;
        color: #ffffff;
        font-size: 12px;
        background: #3498db;
        padding: 5px 10px 5px 10px;
        text-decoration: none; }
      /* line 87, styles.scss */
      .container .polygon .blurb-wrapper #captionLeft {
        -webkit-transform: skew(-35deg);
        position: absolute;
        left: 30%;
        top: 30%; }
      /* line 93, styles.scss */
      .container .polygon .blurb-wrapper #captionRight {
        -webkit-transform: skew(-35deg);
        position: absolute;
        right: 30%;
        top: 30%; }
    /* line 100, styles.scss */
    .container .polygon #leftWrapper {
      top: 0;
      left: 0; }
      /* line 103, styles.scss */
      .container .polygon #leftWrapper:hover {
        left: 10%;
        -webkit-transition-duration: 0.7s; }
    /* line 108, styles.scss */
    .container .polygon #rightWrapper {
      top: 0;
      left: initial; }
      /* line 111, styles.scss */
      .container .polygon #rightWrapper:hover {
        right: 15%;
        -webkit-transition-duration: 0.7s; }
