/* line 3, styles.scss */
body {
  margin: 0; }

/* line 7, styles.scss */
.container {
  height: 500px;
  width: 90%;
  margin: 100px auto;
  position: absolute;
  overflow: hidden;
  right: 5%;
  left: 5%; }
  /* line 16, styles.scss */
  .container #left {
    left: -26%;
    -webkit-transform: skew(55deg); }
    /* line 20, styles.scss */
    .container #left:hover {
      -webkit-transition-duration: 0.5s;
      width: 90%;
      z-index: 1; }
  /* line 26, styles.scss */
  .container #right {
    right: -27%;
    -webkit-transform: skew(55deg); }
    /* line 30, styles.scss */
    .container #right:hover {
      -webkit-transition-duration: 0.5s;
      width: 90%;
      z-index: 1; }
  /* line 38, styles.scss */
  .container .polygon {
    height: 100%;
    width: 78%;
    position: absolute;
    overflow: hidden; }
    /* line 44, styles.scss */
    .container .polygon #league {
      -webkit-transform: skew(-55deg);
      position: absolute; }
    /* line 48, styles.scss */
    .container .polygon #flash {
      -webkit-transform: skew(-55deg);
      position: absolute;
      right: 28%; }
    /* line 54, styles.scss */
    .container .polygon .blurb-wrapper {
      position: absolute;
      left: 4%;
      color: white;
      top: 38%;
      height: 100%;
      width: 100%;
      vertical-align: middle; }
      /* line 63, styles.scss */
      .container .polygon .blurb-wrapper .caption {
        -webkit-transform: skew(-55deg);
        position: absolute;
        left: 30%;
        top: 48%; }
