@import "compass/css3";

body {
  margin: 0;
}

.container {
  height: 500px;
  width: 90%;
  margin: 100px auto;
  position: absolute;
  overflow: hidden;
  right: 5%;
  left: 5%;

  #left {
    left: -26%;
    -webkit-transform: skew(55deg);

    &:hover {
      -webkit-transition-duration:0.5s;
      width: 90%;
      z-index: 1;
    }
  }
  #right {
    right: -27%;
    -webkit-transform: skew(55deg);

    &:hover {
      -webkit-transition-duration: 1s;
      width: 90%;
      z-index: 1;
    }
  }


  .polygon {
    height: 100%;
    width: 78%;
    position: absolute;
    overflow: hidden;

    #league {
      -webkit-transform: skew(-55deg);
      position: absolute;
    }
    #flash {
      -webkit-transform: skew(-55deg);
      position: absolute;
      right: 28%;
    }

    .blurb-wrapper {
      position: absolute;
      color: white;
      height: 100%;
      width: 100%;
      vertical-align: middle;
      opacity: 0;

      .caption-left {
        -webkit-transform: skew(-55deg);
        position: absolute;
        left: 32%;
        top: 47%;
      }
      .caption-right {
        -webkit-transform: skew(-55deg);
        position: absolute;
        right: 34%;
        top: 45%;
      }
    }
    #leftBlurb {
      top: 0;
      left: -5%;

      &:hover {
        left: 40%;
        opacity: 1;
        -webkit-transition-duration:0.7s;
      }
    }
    #rightBlurb {
      top: 0;
      left: initial;

      &:hover {
        right: 40%;
        opacity: 1;
        -webkit-transition-duration:0.7s;
      }
    }
  }


}
