@import "compass/css3";

body {
  margin: 0;
}

.container {
  height: 500px;
  width: 90%;
  margin: 100px auto;
  position: absolute;
  overflow: hidden;
  right: 5%;
  left: 5%;

  #left {
    left: -26%;
    -webkit-transform: skew(55deg);

    &:hover {
      -webkit-transition-duration:0.5s;
      width: 90%;
      z-index: 1;
    }
  }
  #right {
    right: -26%;
    -webkit-transform: skew(55deg);

    &:hover {
      -webkit-transition-duration:0.5s;
      width: 90%;
      z-index: 1;
    }
  }


  .polygon {
    height: 100%;
    width: 76%;
    position: absolute;
    overflow: hidden;

    #league {
      -webkit-transform: skew(-55deg);
      position: absolute;
    }
    #flash {
      -webkit-transform: skew(-55deg);
      position: absolute;
    }
  }


}
